.batch {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 30%;
    top: 1%;

    height: 20px;
    width: 20px;

    background-color: salmon;
    color: white;

    border-radius: 50%;

    font-size: 1rem;
}

/* .color-changed {
    filter: hue-rotate(120deg);
} */