.container {
    display: flex;
    margin-top: 4rem;
    margin-left: 2rem;
    flex-direction: row;
    padding: 2rem 0rem;
}
.imgPortada {
    flex-direction: column;
    padding-right: 2rem;
}

.bookCover {
    height: 25rem;    
}

.details {
    flex-direction: column;
    padding: 0rem 2rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
}

.bookTitle {
    color: #007faa;
    font-size: 2rem;
}

.bookData{
    color: #6d7f85;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.2rem;
}

.bookSynopsis {
    color: #515f64;
    font-size: 1rem;
    margin-top: 1rem;
}

.bookPrice {
    color: #007faa;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

#buttonItem {
    background-color: #007faa;
    border: #007faa solid 2px;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    width: 224px;
    height: 35px;
    margin-top: 2rem;
}