.countContainer {
    margin-top: 3rem;
}

.counter, .addToCart {
    justify-content: left;
    align-items: center;
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.buttonDecrease {
    background-color: #007faa;
    border: none;
    border-radius: 4px;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.buttonIncrease {
    background-color: #007faa;
    border: none;
    border-radius: 4px;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.valueInput {
    width: 150px;
    height: 30px; 
    color: #007faa;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.buttonAdd {
    background-color: white;
    border: #007faa solid 2px;
    border-radius: 4px;
    color: #007faa;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    width: 224px;
    height: 35px;
}

.buttonAdd:hover {
    background-color: #007faa;
    color: white;
    font-weight: 700;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 10px 0px #989a9b;
}