nav {
    background: #007faa;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 18px 0px rgb(189, 188, 189);
}

ul {
    list-style-type: none;
    display: inline-flex;
    font-size: 1.4rem;
}

a {
    color: white;
    text-decoration: none;
} 

.logo {
    font-weight: 900;
}

.item:hover {
    text-decoration: none;
    font-weight: 700;
}


li {
    padding: 1rem;
}

