$primary-color: #f17049;
$secondary-color: #010101;
$tertiary-color: #f9dd82;
$quaternary-color: #eae7df;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 80vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 1.4rem;

    #items {
        align-items: center;
        width: 100%;
        height: 100%;
        
        #item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 1rem;
            cursor: pointer;
            transition: all 0.2s;
    
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }


    #items :hover {
        color: $primary-color;
    }
}



@import "~bootstrap/scss/bootstrap";